
<div class="container">

    <div class="container-moldura grafico-linha">
        <div class="title">Faturamento + Lucro bruto mensal </div>
        <div class="grafico">   
            <app-line-charts></app-line-charts>
        </div>
    </div>

    <div class="container-moldura">
        <div class="title">Categorias que mais vendem</div>
        <div class="grafico">
            <app-pie-chart></app-pie-chart>
        </div>
    </div>
    <div class="container-moldura">
        <div class="title">Produtos que mais vendem</div>
        <div class="grafico">
            <app-pie-chart2></app-pie-chart2>
        </div>
    </div>
    <div class="container-moldura grafico-linha">
        <div class="title">Lojas que mais vendem</div>
        <div class="grafico">
            <app-verticalchart></app-verticalchart>
        </div>
    </div>
</div>
