<div class="container-menu">   
    <h1><span class="material-symbols-outlined">
        storefront
        </span>GOMARKET</h1>
    <nav>
        <ul>
            <div class="ul">
                <a routerLink="/home/dashboard"> <span class="material-symbols-outlined"> dashboard</span><li>Dashboard</li></a>
            </div>
            
            <div class="ul">
                <a><span class="material-symbols-outlined">account_balance</span><li>Financeiro</li></a>
            </div>

            <div class="ul">
                <a><span class="material-symbols-outlined">inventory_2</span><li>Estoque</li></a>
            </div>

            <div class="ul">
                <a><span class="material-symbols-outlined">inventory</span><li>Relatorio</li></a>
            </div>
        </ul>
    </nav>
</div>
